In [1]:
import yfinance

In [2]:
t = yfinance.Ticker('AAPL')

In [3]:
t.history(period='max')

              Open    High     Low   Close     Volume  Dividends  Stock Splits
Date
1980-12-12    0.02    0.02    0.02    0.02  117258400       0.00           0.0
1980-12-15    0.02    0.02    0.02    0.02   43971200       0.00           0.0
1980-12-16    0.02    0.02    0.02    0.02   26432000       0.00           0.0
1980-12-17    0.02    0.02    0.02    0.02   21610400       0.00           0.0
1980-12-18    0.02    0.02    0.02    0.02   18362400       0.00           0.0
1980-12-19    0.02    0.02    0.02    0.02   12157600       0.00           0.0
1980-12-22    0.02    0.02    0.02    0.02    9340800       0.00           0.0
1980-12-23    0.02    0.02    0.02    0.02   11737600       0.00           0.0
1980-12-24    0.03    0.03    0.03    0.03   12000800       0.00           0.0
1980-12-26    0.03    0.03    0.03    0.03   13893600       0.00           0.0
1980-12-29    0.03    0.03    0.03    0.03   23290400       0.00           0.0
1980-12-30    0.03    0.03    0.03    0.03   17220000       0.00           0.0
1980-12-31    0.03    0.03    0.03    0.03    8937600       0.00           0.0
1981-01-02    0.03    0.03    0.03    0.03    5415200       0.00           0.0
1981-01-05    0.03    0.03    0.03    0.03    8932000       0.00           0.0
1981-01-06    0.03    0.03    0.03    0.03   11289600       0.00           0.0
1981-01-07    0.02    0.02    0.02    0.02   13921600       0.00           0.0
1981-01-08    0.02    0.02    0.02    0.02    9956800       0.00           0.0
1981-01-09    0.03    0.03    0.03    0.03    5376000       0.00           0.0
1981-01-12    0.03    0.03    0.03    0.03    5924800       0.00           0.0
1981-01-13    0.02    0.02    0.02    0.02    5762400       0.00           0.0
1981-01-14    0.02    0.02    0.02    0.02    3572800       0.00           0.0
1981-01-15    0.02    0.03    0.02    0.02    3516800       0.00           0.0
1981-01-16    0.02    0.02    0.02    0.02    3348800       0.00           0.0
1981-01-19    0.03    0.03    0.03    0.03   10393600       0.00           0.0
1981-01-20    0.03    0.03    0.03    0.03    7520800       0.00           0.0
1981-01-21    0.03    0.03    0.03    0.03    3976000       0.00           0.0
1981-01-22    0.03    0.03    0.03    0.03    8887200       0.00           0.0
1981-01-23    0.03    0.03    0.03    0.03    2805600       0.00           0.0
1981-01-26    0.03    0.03    0.03    0.03    6160000       0.00           0.0
...            ...     ...     ...     ...        ...        ...           ...
2019-05-02  209.04  211.83  207.33  208.35   31996300       0.00           0.0
2019-05-03  210.08  211.03  209.42  210.94   20892400       0.00           0.0
2019-05-06  203.51  208.04  202.72  207.68   32443100       0.00           0.0
2019-05-07  205.09  206.62  200.06  202.08   38763700       0.00           0.0
2019-05-08  201.13  204.55  200.98  202.12   26339500       0.00           0.0
2019-05-09  199.63  200.91  195.91  199.95   34908600       0.00           0.0
2019-05-10  197.42  198.85  192.77  197.18   41208700       0.77           0.0
2019-05-13  187.71  189.48  182.85  185.72   57430600       0.00           0.0
2019-05-14  186.41  189.70  185.41  188.66   36529700       0.00           0.0
2019-05-15  186.27  191.75  186.02  190.92   26544700       0.00           0.0
2019-05-16  189.91  192.47  188.84  190.08   33031400       0.00           0.0
2019-05-17  186.93  190.90  186.76  189.00   32879100       0.00           0.0
2019-05-20  183.52  184.35  180.28  183.09   38612300       0.00           0.0
2019-05-21  185.22  188.00  184.70  186.60   28364800       0.00           0.0
2019-05-22  184.66  185.71  182.55  182.78   29748600       0.00           0.0
2019-05-23  179.80  180.54  177.81  179.66   36529700       0.00           0.0
2019-05-24  180.20  182.14  178.62  178.97   23714700       0.00           0.0
2019-05-28  178.92  180.59  177.91  178.23   27948200       0.00           0.0
2019-05-29  176.42  179.35  176.00  177.38   28481200       0.00           0.0
2019-05-30  177.95  179.23  176.67  178.30   21218400       0.00           0.0
2019-05-31  176.23  177.99  174.99  175.07   27043600       0.00           0.0
2019-06-03  175.60  177.92  170.27  173.30   40396100       0.00           0.0
2019-06-04  175.44  179.83  174.52  179.64   30968000       0.00           0.0
2019-06-05  184.28  184.99  181.14  182.54   29773400       0.00           0.0
2019-06-06  183.08  185.47  182.15  185.22   22526300       0.00           0.0
2019-06-07  186.51  191.92  185.77  190.15   30684400       0.00           0.0
2019-06-10  191.81  195.37  191.62  192.58   26220900       0.00           0.0
2019-06-11  194.86  196.00  193.60  194.81   26932900       0.00           0.0
2019-06-12  193.95  195.97  193.39  194.19   18221800       0.00           0.0
2019-06-13  194.70  196.79  193.78  193.88   15887146       0.00           0.0

[9707 rows x 7 columns]

In [4]:
from iexfinance.stocks import Stock

In [5]:
aap = Stock('AAPL', output_format='pandas')

In [6]:
aap.get_balance_sheet()

                                 AAPL
                           2019-03-31
accountsPayable           30443000000
capitalSurplus                   None
commonStock               42801000000
currentAssets            123346000000
currentCash               38329000000
currentLongTermDebt       10505000000
goodwill                            0
intangibleAssets                 None
inventory                  4884000000
longTermDebt              90201000000
longTermInvestments      146807000000
minorityInterest                    0
netTangibleAssets        105860000000
otherAssets               33099000000
otherCurrentAssets        11751000000
otherCurrentLiabilities   40900000000
otherLiabilities           6279000000
propertyPlantEquipment    38746000000
receivables               15085000000
reportDate                 2019-03-31
retainedEarnings          64558000000
shareholderEquity        105860000000
shortTermInvestments      42104000000
totalAssets              341998000000
totalCurrentLiabilities   93772000000
totalLiabilities         236138000000
treasuryStock                    None

In [7]:
from iexfinance.refdata import get_symbols

In [8]:
symbols = get_symbols(output_format='pandas')

,currency,date,exchange,iexId,isEnabled,name,region,symbol,type
0,USD,2019-06-13,NYS,IEX_46574843354B2D52,True,Agilent Technologies Inc.,US,A,cs
1,USD,2019-06-13,NYS,IEX_4238333734532D52,True,Alcoa Corp.,US,AA,cs
2,USD,2019-06-13,PSE,IEX_474B433136332D52,True,Perth Mint Physical Gold ETF,US,AAAU,et
3,USD,2019-06-13,NAS,IEX_4E5434354A302D52,True,Altaba Inc.,US,AABA,cef
4,USD,2019-06-13,NYS,IEX_4843364642592D52,True,AAC Holdings Inc.,US,AAC,cs
5,USD,2019-06-13,PSE,IEX_5253355435362D52,True,AdvisorShares Dorsey Wright ADR ETF,US,AADR,et
6,USD,2019-06-13,NAS,IEX_4353464A535A2D52,True,American Airlines Group Inc.,US,AAL,cs
7,USD,2019-06-13,ASE,IEX_5442323844432D52,True,Altisource Asset Management Corp.,US,AAMC,cs
8,USD,2019-06-13,NAS,IEX_5737584C53442D52,True,Atlantic American Corporation,US,AAME,cs
9,USD,2019-06-13,NYS,IEX_534D305A30592D52,True,Aaron's Inc.,US,AAN,cs
10,USD,2019-06-13,NAS,IEX_4C394B5933512D52,True,Applied Optoelectronics Inc.,US,AAOI,cs
11,USD,2019-06-13,NAS,IEX_4E57434244582D52,True,AAON Inc.,US,AAON,cs
12,USD,2019-06-13,NYS,IEX_4850353858392D52,True,Advance Auto Parts Inc.,US,AAP,cs
13,USD,2019-06-13,NAS,IEX_4D48333344362D52,True,Apple Inc.,US,AAPL,cs
14,USD,2019-06-13,NYS,IEX_4742423330312D52,True,American Assets Trust Inc.,US,AAT,cs
15,USD,2019-06-13,ASE,IEX_5639393533472D52,True,Almaden Minerals Ltd.,US,AAU,cs
16,USD,2019-06-13,NAS,IEX_4754595032502D52,True,Atlas Air Worldwide Holdings Inc.,US,AAWW,cs
17,USD,2019-06-13,NAS,IEX_4332325853592D52,True,iShares MSCI All Country Asia ex Japan ETF,US,AAXJ,et
18,USD,2019-06-13,NAS,IEX_52584D56394D2D52,True,Axon Enterprise Inc,US,AAXN,cs
19,USD,2019-06-13,NYS,IEX_4E465333304C2D52,True,AllianceBernstein Holding L.P.,US,AB,cs
20,USD,2019-06-13,NYS,IEX_47395A4B54312D52,True,ABB Ltd. Sponsored ADR,US,ABB,ad
21,USD,2019-06-13,NYS,IEX_4334484252542D52,True,AbbVie Inc.,US,ABBV,cs
22,USD,2019-06-13,NYS,IEX_424B324652572D52,True,AmerisourceBergen Corporation,US,ABC,cs
23,USD,2019-06-13,NAS,IEX_52584C584A522D52,True,Ameris Bancorp,US,ABCB,cs
24,USD,2019-06-13,NAS,IEX_4656434C484B2D52,True,Alcentra Capital Corp,US,ABDC,cs
25,USD,2019-06-13,NAS,IEX_4E31383330472D52,True,Abeona Therapeutics Inc.,US,ABEO,cs
26,USD,2019-06-13,NAS,IEX_4431585847482D52,True,Abeona Therapeutics Inc Warrants 2015-19.12.19...,US,ABEOW,wt
27,USD,2019-06-13,NYS,IEX_56314334584C2D52,True,Ambev SA Sponsored ADR,US,ABEV,ad
28,USD,2019-06-13,NYS,IEX_5452384E30442D52,True,Asbury Automotive Group Inc.,US,ABG,cs
29,USD,2019-06-13,NAS,IEX_4A424C5451432D52,True,Ability Inc.,US,ABIL,cs
...,...,...,...,...,...,...,...,...,...
8730,USD,2019-06-13,PSE,IEX_4D37513334542D52,True,SPDR Solactive Hong Kong ETF,US,ZHOK,et
8731,USD,2019-06-13,PSE,IEX_4B57325059512D52,True,Acquirers Fund,US,ZIG,et
8732,USD,2019-06-13,NAS,IEX_435250335A562D52,True,Zions Bancorporation N.A.,US,ZION,cs
8733,USD,2019-06-13,NAS,IEX_474D36334A342D52,True,Zions Bancorporation NA Warrants 2010-22.5.20 ...,US,ZIONW,wt
8734,USD,2019-06-13,NAS,IEX_42344D43464B2D52,True,ZIOPHARM Oncology Inc.,US,ZIOP,cs
8735,USD,2019-06-13,NAS,IEX_51534C484A372D52,True,VelocityShares Daily Inverse VIX Medium-Term ETN,US,ZIV,et
8736,USD,2019-06-13,NAS,IEX_56324844334E2D52,True,Zix Corporation,US,ZIXI,cs
8737,USD,2019-06-13,PSE,IEX_474A595830502D52,True,SPDR Solactive Japan ETF,US,ZJPN,et
8738,USD,2019-06-13,NAS,IEX_425053384B442D52,True,ZK International Group Co. Ltd.,US,ZKIN,cs
8739,USD,2019-06-13,NAS,IEX_46434B5142592D52,True,Zai Lab Ltd. Unsponsored ADR,US,ZLAB,ad
8740,USD,2019-06-13,NAS,IEX_48564B5A38362D52,True,Zoom Video Communications Inc. Class A,US,ZM,cs
8741,USD,2019-06-13,PSE,IEX_5153393736582D52,True,Direxion Zacks MLP High Income Index Shares,US,ZMLP,et
8742,USD,2019-06-13,NAS,IEX_504E423946352D52,True,Zion Oil and Gas Inc.,US,ZN,cs
8743,USD,2019-06-13,NAS,IEX_4A5042584D4C2D52,True,Zynga Inc. Class A,US,ZNGA,cs
8744,USD,2019-06-13,NYS,IEX_4E56373030522D52,True,China Southern Airlines Company Limited Sponso...,US,ZNH,ad
8745,USD,2019-06-13,NAS,IEX_5158353157482D52,True,Zion Oil & Gas Inc Warrants 2015-31.1.20 on Shs,US,ZNWAA,wt
8746,USD,2019-06-13,ASE,IEX_4C544C54434D2D52,True,Zomedica Pharmaceuticals Corp.,US,ZOM,cs
8747,USD,2019-06-13,PSE,IEX_47364E4B47482D52,True,PIMCO 25+ Year Zero Coupon US Treasury Index ETF,US,ZROZ,et
8748,USD,2019-06-13,NAS,IEX_5654483838362D52,True,Zscaler Inc.,US,ZS,cs
8749,USD,2019-06-13,NAS,IEX_4A47314E4C522D52,True,Zosano Pharma Corp.,US,ZSAN,cs
8750,USD,2019-06-13,PSE,IEX_473059464E382D52,True,ProShares UltraShort Silver,US,ZSL,et
8751,USD,2019-06-13,NYS,IEX_42344B5A39532D52,True,ZTO Express (Cayman) Inc. Sponsored ADR Class A,US,ZTO,ad
8752,USD,2019-06-13,NYS,IEX_564D484335362D52,True,Virtus Global Dividend & Income Fund Inc.,US,ZTR,cef
8753,USD,2019-06-13,NYS,IEX_5457364B4B562D52,True,Zoetis Inc. Class A,US,ZTS,cs
8754,USD,2019-06-13,NAS,IEX_4D4352464E582D52,True,Zumiez Inc.,US,ZUMZ,cs
8755,USD,2019-06-13,NYS,IEX_4D474631525A2D52,True,Zuora Inc. Class A,US,ZUO,cs
8756,USD,2019-06-13,NAS,IEX_514A435352362D52,True,Zovio Inc.,US,ZVO,cs
8757,USD,2019-06-13,NYS,IEX_5253315838322D52,True,Zymeworks Inc.,US,ZYME,cs
8758,USD,2019-06-13,NAS,IEX_4E3154424A382D52,True,Zynerba Pharmaceuticals Inc,US,ZYNE,cs
8759,USD,2019-06-13,NAS,IEX_4E464C4C4A462D52,True,Zynex Inc.,US,ZYXI,cs

In [11]:
set(symbols.exchange)

{'ASE', 'BATS', 'IEXG', 'NAS', 'NYS', 'PSE'}

In [15]:
import iexfinance
symbols = iexfinance.refdata.get_iex_symbols(output_format="pandas")

In [16]:
symbols

            date  isEnabled    symbol
0     2019-06-13       True         A
1     2019-06-13       True        AA
2     2019-06-13       True      AAAU
3     2019-06-13       True      AABA
4     2019-06-13       True       AAC
5     2019-06-13       True      AADR
6     2019-06-13       True       AAL
7     2019-06-13       True      AAMC
8     2019-06-13       True      AAME
9     2019-06-13       True       AAN
10    2019-06-13       True      AAOI
11    2019-06-13       True      AAON
12    2019-06-13       True       AAP
13    2019-06-13       True      AAPL
14    2019-06-13       True       AAT
15    2019-06-13       True       AAU
16    2019-06-13       True      AAWW
17    2019-06-13       True      AAXJ
18    2019-06-13       True      AAXN
19    2019-06-13       True        AB
20    2019-06-13       True       ABB
21    2019-06-13       True      ABBV
22    2019-06-13       True       ABC
23    2019-06-13       True      ABCB
24    2019-06-13       True      ABDC
25    2019-06-13       True      ABEO
26    2019-06-13       True     ABEOW
27    2019-06-13       True      ABEV
28    2019-06-13       True       ABG
29    2019-06-13       True      ABIL
...          ...        ...       ...
8784  2019-06-13       True      ZUMZ
8785  2019-06-13       True       ZUO
8786  2019-06-13       True       ZVO
8787  2019-06-13       True       ZVV
8788  2019-06-13       True      ZVVV
8789  2019-06-13       True     ZVZZT
8790  2019-06-13       True     ZWZZT
8791  2019-06-13       True     ZXIET
8792  2019-06-13       True     ZXZZT
8793  2019-06-13       True      ZYME
8794  2019-06-13       True      ZYNE
8795  2019-06-13       True      ZYXI
8796  2019-06-13       True   BTCUSDT
8797  2019-06-13       True   EOSUSDT
8798  2019-06-13       True   ETHUSDT
8799  2019-06-13       True   BNBUSDT
8800  2019-06-13       True   ONTUSDT
8801  2019-06-13       True   BCCUSDT
8802  2019-06-13       True   ADAUSDT
8803  2019-06-13       True   XRPUSDT
8804  2019-06-13       True  TUSDUSDT
8805  2019-06-13       True   TRXUSDT
8806  2019-06-13       True   LTCUSDT
8807  2019-06-13       True   ETCUSDT
8808  2019-06-13       True  IOTAUSDT
8809  2019-06-13       True   ICXUSDT
8810  2019-06-13       True   NEOUSDT
8811  2019-06-13       True   VENUSDT
8812  2019-06-13       True   XLMUSDT
8813  2019-06-13       True  QTUMUSDT

[8814 rows x 3 columns]

In [24]:
from iexfinance.utils import cloud_endpoint, legacy_endpoint
class Exchanges(iexfinance.refdata.base.CloudRef):

    @cloud_endpoint
    def fetch(self):
        return super(iexfinance.refdata.base.CloudRef, self).fetch()

    @property
    def endpoint(self):
        return "exchanges"

In [25]:
Exchanges().fetch()

[{'exchange': 'ADS',
  'region': 'AE',
  'description': 'Abu Dhabi Securities Exchange',
  'mic': 'XADS',
  'exchangeSuffix': '-DH'},
 {'exchange': 'TAE',
  'region': 'IL',
  'description': 'Tel Aviv Stock Exchange',
  'mic': 'XTAE',
  'exchangeSuffix': '-IT'},
 {'exchange': 'BOM',
  'region': 'IN',
  'description': 'BSE Ltd.',
  'mic': 'XBOM',
  'exchangeSuffix': '-IB'},
 {'exchange': 'KRX',
  'region': 'KR',
  'description': 'Korea Exchange',
  'mic': 'XKRX',
  'exchangeSuffix': '-KP'},
 {'exchange': 'BRU',
  'region': 'BE',
  'description': 'Euronext Brussels',
  'mic': 'XBRU',
  'exchangeSuffix': '-BB'},
 {'exchange': 'ETR',
  'region': 'DE',
  'description': 'XETRA',
  'mic': 'XETR',
  'exchangeSuffix': '-GY'},
 {'exchange': 'PAR',
  'region': 'FR',
  'description': 'Euronext Paris',
  'mic': 'XPAR',
  'exchangeSuffix': '-FP'},
 {'exchange': 'LON',
  'region': 'GB',
  'description': 'London Stock Exchange',
  'mic': 'XLON',
  'exchangeSuffix': '-LN'},
 {'exchange': 'DUB',
  'region': 'IE',
  'description': 'Euronext Dublin',
  'mic': 'XDUB',
  'exchangeSuffix': '-ID'},
 {'exchange': 'AMS',
  'region': 'NL',
  'description': 'Euronext Amsterdam',
  'mic': 'XAMS',
  'exchangeSuffix': '-NA'},
 {'exchange': 'LIS',
  'region': 'PT',
  'description': 'Euronext Lisbon',
  'mic': 'XLIS',
  'exchangeSuffix': '-PL'},
 {'exchange': 'TSE',
  'region': 'CA',
  'description': 'Toronto Stock Exchange',
  'mic': 'XTSE',
  'exchangeSuffix': '-CT'},
 {'exchange': 'TSX',
  'region': 'CA',
  'description': 'TSX Venture Exchange',
  'mic': 'XTSX',
  'exchangeSuffix': '-CV'},
 {'exchange': 'MEX',
  'region': 'MX',
  'description': 'Mexican Stock Exchange',
  'mic': 'XMEX',
  'exchangeSuffix': '-MM'},
 {'exchange': 'BATS',
  'region': 'US',
  'description': 'Cboe BZX US Equities Exchange',
  'mic': 'BATS',
  'exchangeSuffix': ''},
 {'exchange': 'IEXG',
  'region': 'US',
  'description': 'IEX',
  'mic': 'IEXG',
  'exchangeSuffix': ''},
 {'exchange': 'NAS',
  'region': 'US',
  'description': 'NASDAQ',
  'mic': 'XNAS',
  'exchangeSuffix': ''},
 {'exchange': 'NYS',
  'region': 'US',
  'description': 'New York Stock Exchange',
  'mic': 'XNYS',
  'exchangeSuffix': ''},
 {'exchange': 'OTC',
  'region': 'US',
  'description': 'US OTC',
  'mic': 'XOTC',
  'exchangeSuffix': ''},
 {'exchange': 'PHL',
  'region': 'US',
  'description': 'NASDAQ OMX PSX',
  'mic': 'XPHL',
  'exchangeSuffix': ''},
 {'exchange': 'PSE',
  'region': 'US',
  'description': 'NYSE Arca',
  'mic': 'ARCX',
  'exchangeSuffix': ''}]

In [26]:
exchanges = _

In [27]:
exchanges

[{'exchange': 'ADS',
  'region': 'AE',
  'description': 'Abu Dhabi Securities Exchange',
  'mic': 'XADS',
  'exchangeSuffix': '-DH'},
 {'exchange': 'TAE',
  'region': 'IL',
  'description': 'Tel Aviv Stock Exchange',
  'mic': 'XTAE',
  'exchangeSuffix': '-IT'},
 {'exchange': 'BOM',
  'region': 'IN',
  'description': 'BSE Ltd.',
  'mic': 'XBOM',
  'exchangeSuffix': '-IB'},
 {'exchange': 'KRX',
  'region': 'KR',
  'description': 'Korea Exchange',
  'mic': 'XKRX',
  'exchangeSuffix': '-KP'},
 {'exchange': 'BRU',
  'region': 'BE',
  'description': 'Euronext Brussels',
  'mic': 'XBRU',
  'exchangeSuffix': '-BB'},
 {'exchange': 'ETR',
  'region': 'DE',
  'description': 'XETRA',
  'mic': 'XETR',
  'exchangeSuffix': '-GY'},
 {'exchange': 'PAR',
  'region': 'FR',
  'description': 'Euronext Paris',
  'mic': 'XPAR',
  'exchangeSuffix': '-FP'},
 {'exchange': 'LON',
  'region': 'GB',
  'description': 'London Stock Exchange',
  'mic': 'XLON',
  'exchangeSuffix': '-LN'},
 {'exchange': 'DUB',
  'region': 'IE',
  'description': 'Euronext Dublin',
  'mic': 'XDUB',
  'exchangeSuffix': '-ID'},
 {'exchange': 'AMS',
  'region': 'NL',
  'description': 'Euronext Amsterdam',
  'mic': 'XAMS',
  'exchangeSuffix': '-NA'},
 {'exchange': 'LIS',
  'region': 'PT',
  'description': 'Euronext Lisbon',
  'mic': 'XLIS',
  'exchangeSuffix': '-PL'},
 {'exchange': 'TSE',
  'region': 'CA',
  'description': 'Toronto Stock Exchange',
  'mic': 'XTSE',
  'exchangeSuffix': '-CT'},
 {'exchange': 'TSX',
  'region': 'CA',
  'description': 'TSX Venture Exchange',
  'mic': 'XTSX',
  'exchangeSuffix': '-CV'},
 {'exchange': 'MEX',
  'region': 'MX',
  'description': 'Mexican Stock Exchange',
  'mic': 'XMEX',
  'exchangeSuffix': '-MM'},
 {'exchange': 'BATS',
  'region': 'US',
  'description': 'Cboe BZX US Equities Exchange',
  'mic': 'BATS',
  'exchangeSuffix': ''},
 {'exchange': 'IEXG',
  'region': 'US',
  'description': 'IEX',
  'mic': 'IEXG',
  'exchangeSuffix': ''},
 {'exchange': 'NAS',
  'region': 'US',
  'description': 'NASDAQ',
  'mic': 'XNAS',
  'exchangeSuffix': ''},
 {'exchange': 'NYS',
  'region': 'US',
  'description': 'New York Stock Exchange',
  'mic': 'XNYS',
  'exchangeSuffix': ''},
 {'exchange': 'OTC',
  'region': 'US',
  'description': 'US OTC',
  'mic': 'XOTC',
  'exchangeSuffix': ''},
 {'exchange': 'PHL',
  'region': 'US',
  'description': 'NASDAQ OMX PSX',
  'mic': 'XPHL',
  'exchangeSuffix': ''},
 {'exchange': 'PSE',
  'region': 'US',
  'description': 'NYSE Arca',
  'mic': 'ARCX',
  'exchangeSuffix': ''}]